# Open AI
LLM_MODEL=""
RAG_LLM_BASE_URL=""
RAG_LLM_API_KEY=""

# Embedding model
EMBEDDING_MODEL=""

# Plan stage output: default 16000; set to 8192 if using deepseek
RAG_LLM_MAX_TOKENS="16000"


# Image Generation Model
IMAGE_GEN_PROVIDER=""
IMAGE_GEN_API_KEY=""
IMAGE_GEN_BASE_URL=""
IMAGE_GEN_MODEL=""
IMAGE_GEN_RESPONSE_MIME_TYPE=""
