\documentclass{article}
\input{preamble.tex}
\geometry{paperwidth={{ page_width }}in,paperheight={{ page_height }}in,margin={{ margin }}in}
\pagestyle{empty}
\begin{document}
\noindent
\begin{adjustbox}{max width=\linewidth,max totalheight=\textheight,valign=t}
\begin{minipage}[t]{\linewidth}
\input{columns/{{ column_name }}.tex}
\end{minipage}
\end{adjustbox}
\end{document}
