# LLM
LLM_MODEL="deepseek-v4-pro"
LLM_API_KEY=""
LLM_BASE_URL="https://api.deepseek.com"

# VLM
VLM_MODEL="gpt-4o-mini"
VLM_API_KEY=""
VLM_BASE_URL="https://api.openai.com/v1/"

# Plan Stage
PLAN_MAX_TOKENS="16000"

# Embedding model
EMBEDDING_MODEL="text-embedding-3-large"
EMBEDDING_API_KEY=""
EMBEDDING_BASE_URL="https://api.openai.com/v1/"

# Image Generation Model
IMAGE_GEN_MODEL="gpt-image-2"
IMAGE_GEN_API_KEY=""
IMAGE_GEN_BASE_URL="https://api.openai.com/v1/"
IMAGE_GEN_RESPONSE_MIME_TYPE="image/png"
